In [1]:
import sqlite3

In [6]:
con = sqlite3.connect('../data/beat.db')
with con:
    cur = con.cursor()
    cur.execute("""DROP TABLE IF EXISTS Band""")
    cur.execute("""CREATE TABLE Band(id INTEGER PRIMARY KEY,
        fname TEXT, lname TEXT, birthyear INT)""")
    cur.execute("""INSERT INTO Band VALUES(
        0, 'Paul', 'McCartney', 1942)""")
    cur.execute("""INSERT INTO Band VALUES(
        1, 'John', 'Lennon', 1940)""")
    _ = con.commit()