In [19]:
import pandas as pd

In [20]:
# create a dictionary
dict_fruits = {1: "Apple", 2: "Banana", 3: "Orange"}
dict_fruits

{1: 'Apple', 2: 'Banana', 3: 'Orange'}

In [21]:
# create series by dictionary
series_fruits = pd.Series(dict_fruits)
series_fruits

1     Apple
2    Banana
3    Orange
dtype: object

In [22]:
# create a list
list_fruits = ["Apple", "Banana", "Orange"]
list_fruits

['Apple', 'Banana', 'Orange']

In [23]:
# create series by list
series_fruits2 = pd.Series(list_fruits)
series_fruits2

0     Apple
1    Banana
2    Orange
dtype: object

In [24]:
# single element
series_fruits[1]

'Apple'

In [25]:
series_fruits2[0]

'Apple'

In [26]:
# multiple elements
series_fruits2[[0,2]]

0     Apple
2    Orange
dtype: object

In [27]:
# custom index
series_fruits3 = pd.Series(list_fruits, index = ['A', 'B', 'O'])
series_fruits3

A     Apple
B    Banana
O    Orange
dtype: object

In [28]:
# access by custom index
series_fruits3['B']

'Banana'

In [29]:
# multiple elements
series_fruits3[['A', 'O']]

A     Apple
O    Orange
dtype: object

In [30]:
series_fruits3 = series_fruits3 + "1"
series_fruits3

A     Apple1
B    Banana1
O    Orange1
dtype: object