In [12]:
import pandas as pd

In [4]:
# 二维列表
data = [['Google', 10],['Runoob', 12],['Wiki', 13]]
pd.DataFrame(data, columns=['Site', 'Age'])

     Site  Age
0  Google   10
1  Runoob   12
2    Wiki   13

In [5]:
# 字典组成的列表
data = [{'Site': 'Google', 'Age': 10},{'Site': 'Runoob', 'Age': 12},{'Site': 'Wiki', 'Age': 13}]
pd.DataFrame(data)

     Site  Age
0  Google   10
1  Runoob   12
2    Wiki   13

In [6]:
# 列表组成的字典
data = {'Site':['Google', 'Runoob', 'Wiki'], 'Age':[10, 12, 13]}
pd.DataFrame(data)

     Site  Age
0  Google   10
1  Runoob   12
2    Wiki   13

In [7]:
# 访问列
data['Site']

['Google', 'Runoob', 'Wiki']

In [8]:
# 访问行
data = pd.DataFrame(data, index = ['G', 'R', 'W'])
data

     Site  Age
G  Google   10
R  Runoob   12
W    Wiki   13

In [9]:
data.loc['G']

Site    Google
Age         10
Name: G, dtype: object

In [10]:
data.loc[['G']]

     Site  Age
G  Google   10

In [11]:
data.loc[['G','W']]

     Site  Age
G  Google   10
W    Wiki   13