In [27]:
import pandas as pd

In [28]:
# create by two-dimensional list
list = [['Apple', 10],['Banana', 8],['Orange', 9]]
pd.DataFrame(list, columns=['Fruit', 'Price'])

    Fruit  Price
0   Apple     10
1  Banana      8
2  Orange      9

In [29]:
# create by dictionary
dict = [{'Fruit': 'Apple', 'Price': 10},{'Fruit': 'Banana', 'Price': 8},{'Fruit': 'Orange', 'Price': 9}]
pd.DataFrame(dict)

    Fruit  Price
0   Apple     10
1  Banana      8
2  Orange      9

In [30]:
# create by dictionary with list
dict_list = {'Fruit':['Apple', 'Banana', 'Orange'], 'Price':[10, 8, 9]}
pd.DataFrame(dict_list)

    Fruit  Price
0   Apple     10
1  Banana      8
2  Orange      9

In [31]:
# access by column
dict_list['Fruit']

['Apple', 'Banana', 'Orange']