In [1]:
import pandas as pd
import numpy as np

In [3]:
movie = pd.read_csv('../data/movie.csv')

In [4]:
# group by title_year and select the topest score of each group
(movie
  [['movie_title', 'title_year', 'imdb_score']]
  .groupby('title_year', as_index=False)
  .apply(lambda df: df.sort_values('imdb_score',
         ascending=False).head(1))
  .sort_values('title_year', ascending=False)
)

,,movie_title,title_year,imdb_score
90,4312,Kickboxer: Vengeance,2016.0,9.1
89,3745,Running Forever,2015.0,8.6
88,4369,Queen of the Mountains,2014.0,8.7
87,3935,"Batman: The Dark Knight Returns, Part 2",2013.0,8.4
86,3,The Dark Knight Rises,2012.0,8.5
...,...,...,...,...
4,4555,Pandora's Box,1929.0,8.0
3,2694,Metropolis,1927.0,8.3
2,4767,The Big Parade,1925.0,8.3
1,4833,Over the Hill to the Poorhouse,1920.0,4.8
0,4695,Intolerance: Love's Struggle Throughout the Ages,1916.0,8.0