## Data Import and Export

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("../data/course_participants.xlsx")
df

   user_id   name  age  country  score continent
0     1001   Mark   55    Italy    4.5    Europe
1     1000   John   33      USA    6.7   America
2     1002    Tim   41      USA    3.9   America
3     1003  Jenny   12  Germany    9.0    Europe

### Exporting to a CSV file

In [4]:
df.to_csv("course_participants.csv")

### Importing a CSV file

In [5]:
msft = pd.read_csv("../data/stock/MSFT.csv")

In [6]:
# Provides number of data points, index type, dtype, and memory usage
msft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8622 entries, 0 to 8621
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       8622 non-null   object
 1   Open       8622 non-null   float64
 2   High       8622 non-null   float64
 3   Low        8622 non-null   float64
 4   Close      8622 non-null   float64
 5   Adj Close  8622 non-null   float64
 6   Volume     8622 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 471.6+ KB

In [7]:
# I am selecting a few columns because of space issues
# You can also just run: msft.head()
msft.loc[:, ["Date", "Adj Close", "Volume"]].head()

         Date  Adj Close      Volume
0  1986-03-13   0.062205  1031788800
1  1986-03-14   0.064427   308160000
2  1986-03-17   0.065537   133171200
3  1986-03-18   0.063871    67766400
4  1986-03-19   0.062760    47894400

In [8]:
msft.loc[:, ["Date", "Adj Close", "Volume"]].tail(2)

            Date   Adj Close    Volume
8620  2020-05-26  181.570007  36073600
8621  2020-05-27  181.809998  39492600

In [9]:
# Provides basic statistics including count, mean, std, min, max, and percentiles
msft.loc[:, ["Adj Close", "Volume"]].describe()

         Adj Close        Volume
count  8622.000000  8.622000e+03
mean     24.921952  6.030722e+07
std      31.838096  3.877805e+07
min       0.057762  2.304000e+06
25%       2.247503  3.651632e+07
50%      18.454313  5.350380e+07
75%      25.699224  7.397560e+07
max     187.663330  1.031789e+09

In [10]:
# The read_csv function also accepts a URL instead of a local CSV file
url = ("https://raw.githubusercontent.com/fzumstein/"
       "python-for-excel/1st-edition/csv/MSFT.csv")
msft = pd.read_csv(url)

In [11]:
msft.loc[:, ["Date", "Adj Close", "Volume"]].head(2)

         Date  Adj Close      Volume
0  1986-03-13   0.062205  1031788800
1  1986-03-14   0.064427   308160000